// * {
//   outline: 1px solid red;
// }
header {
  width: 100%;

  background-color: $color-black;
  .header__wrap {
    max-width: 1280px;

    margin: auto;
    padding: 0 24px;
    .header__content {
      .header__feature {
        i {
          font-size: $fs-3;
          line-height: 1.5;
          @include styleText($fs-4, $fw-1, $color-white);
        }
        span#item_count {
          @include styleText($fs-3, $fw-1, $color-white);
        }
        span {
          display: inline-block;
          padding: 0 10px;
          a {
            @include styleText($fs-1, $fw-1, $color-text-gray);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
@include responsive("large-down") {
  #carouselHolder {
    height: 500px !important;
    padding: 50px !important;
  }
}

@include responsive("small-down") {
  #carouselHolder {
    height: 600px !important;
    img {
      width: 70% !important;
      margin: 0 auto;
    }
    .nav-link {
      padding: 0 !important;
    }
  }
  .header__content {
    .header__feature {
      i {
        line-height: 1.5;
        @include styleText($fs-1, $fw-1, $color-white);
      }
      span#item_count {
        @include styleText($fs-1 !important, $fw-1, $color-white);
      }
      span {
        display: inline-block;
        padding: 0 10px;
        a {
          @include styleText($fs-1, $fw-1, $color-text-gray);
          opacity: 0.8;
        }
      }
    }
  }
}
